<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dior.cloudback.mapper.PmsProductInfoMapper">

    <select id="selectProcBySearchKey" resultType="com.dior.bean.PmsProductInfo" parameterType="string">
        SELECT
            *
        FROM
            pms_product_info
        WHERE
            product_name LIKE '%${_parameter}%'
    </select>
</mapper>