.freme_style{
    border: medium none;
}

.m-content{
    padding-left: 50px;
}

.catalogCard{
    min-height: 580px !important;
}

.uploadImg{
    position: relative;
}
.defultImg{
    border: 2px solid skyblue;
}

.m-l-pd-sm{
    margin-left: 5em !important;
}

.m-r-pd-sm{
    margin-right: 10px !important;
}

.delIcon{
    color: red;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 50px;
    top: -10px;
    cursor: pointer;
}

/*@media (min-width: 992px) {*/
/*    .modal-lg {*/
/*        with: 1800px !important;*/
/*    }*/
/*}*/