<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/modules/toastr/build/toastr.min.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/me.css">
    <link rel="stylesheet" href="/css/xcConfirm.css">
    <title th:text="${title}">后台管理</title>
</head>
<body>






<!-- 底部 -->
<footer class="main-footer" th:fragment="footer">
    <div class="footer-right" style="text-align: right">
        欢迎参观我的博客 <div class="bullet"></div> More Idea <div class="bullet"></div><a href="http://www.xiashu.fun:8081/" target="_blank" title="XiashuBlog">夏树的博客</a> </a>
    </div>
</footer>

<div th:fragment="scripts">
    <script src="/modules/jquery.min.js"></script>
    <script src="/modules/popper.js"></script>
    <script src="/modules/tooltip.js"></script>
    <script src="/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="/js/sa-functions.js"></script>
    <script src="/modules/toastr/build/toastr.min.js"></script>
    <script src="/modules/chart.min.js"></script>
    <script src="/modules/summernote/summernote-lite.js"></script>

    <script src="/js/scripts.js"></script>
    <script src="/js/custom.js"></script>
    <script src="js/jQuery.form.js"></script>
    <script src="js/xcConfirm.js"></script>
<!--    <script src="/js/demo.js"></script>-->
</div>

</body>
</html>