<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(测试)">

</head>
<body>

<section class="section" style="margin:0px;padding:0px;">

    <div class="row">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">商品信息管理</a></li>
                    <li class="breadcrumb-item active" aria-current="page">官网广告管理</li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="card card-primary catalogCard">

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <ul class="nav nav-pills" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab3" data-toggle="tab" href="#home3" role="tab"
                                       aria-controls="home" aria-selected="true">官网主页</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#profile3" role="tab"
                                       aria-controls="profile" aria-selected="false">女士精品</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab3" data-toggle="tab" href="#contact3" role="tab"
                                       aria-controls="contact" aria-selected="false">男士精品</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home3" role="tabpanel"
                                     aria-labelledby="home-tab3">
                                    <!-- 官网主页 -->
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="float-right">
                                                <a data-collapse="#mycard-collapse" class="btn btn-icon"><i class="ion ion-minus"></i></a>
                                            </div>
                                            <div class="row">
                                                <h6>轮播图-Banner </h6>
                                                <button class="btn btn-danger btn-addBanner" >添加Banner</button>
                                            </div>
                                        </div>
                                        <div class="collapse show" id="mycard-collapse">
                                            <div class="card-body">

                                                <form id="uploadImg" action="/uploadImg" method="post" enctype="multipart/form-data">
                                                    <input type="file" id="imageFile" onchange="uploadFile()" name="image" style="display: none "/>
                                                    <input type="hidden" name="bannerItemIndex" value="-1">
                                                </form>

                                                <div class="row banner-List" >
                                                    <div class="banner-Item col-lg-4 me-banner-card" th:each="ad:${pmsProductAds}">
                                                        <img class="banner-item-image" th:src="${ad.adContent}" src="https://iph.href.lu/1440x617?text=%E7%82%B9%E5%87%BB%E9%80%89%E6%8B%A9%E6%96%87%E4%BB%B6" width="100%" >
                                                        <input type="text" readonly="readonly" th:value="${ad.adTitle}" class="form-control" placeholder="图片标题">
                                                        <input type="text" readonly="readonly" th:value="${ad.adDesc}" class="form-control" placeholder="图片描述">
                                                        <input type="text" readonly="readonly" th:value="${ad.adUrl}" class="form-control" placeholder="链接地址">
                                                        <input type="hidden" name="bannerId" th:value="${ad.id}" value="-1">
                                                        <div class="container-fluid row ">
                                                            <button type="button" class="btn btn-success col-lg-3 btn-saveBanner" style="margin-left: 3px">保存</button>
                                                            <button type="button" class="btn btn-warning col-lg-3 btn-changeBanner" style="margin-left: 8px" >修改</button>
                                                            <button type="button" class="btn btn-danger col-lg-3 btn-removeBanner" style="margin-left: 8px" >删除</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-footer">
                                                Card Footer
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab3">
                                    Sed sed metus vel lacus hendrerit tempus. Sed efficitur velit tortor, ac efficitur
                                    est lobortis quis. Nullam lacinia metus erat, sed fermentum justo rutrum ultrices.
                                    Proin quis iaculis tellus. Etiam ac vehicula eros, pharetra consectetur dui.
                                </div>
                                <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab3">
                                    Vestibulum imperdiet odio sed neque ultricies, ut dapibus mi maximus. Proin ligula
                                    massa, gravida in lacinia efficitur, hendrerit eget mauris. Pellentesque fermentum,
                                    sem interdum molestie finibus, nulla diam varius leo, nec varius lectus elit id
                                    dolor.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>


<footer class="main-footer" th:replace="_fragments :: footer">

</footer>

<div th:replace="_fragments :: scripts">
    <script src="/modules/jquery-3.2.1.js"></script>
    <script src="js/jQuery.form.js"></script>
</div>

<script>
    // 上传图片方法
    function uploadFile(){
        console.log('已选择文件');
        var targetUrl = $("#uploadImg").attr("action");
        var formData = new FormData($("#uploadImg")[0]);
        var fileSize = document.getElementById("imageFile").files[0].size;
        console.log(fileSize)
        if (fileSize > 1024 * 1024 ){
            toastr.warning('图片过大，请压缩后重新上传!','图片上传');
            return;
        }
        $.ajax({
            type:'post',
            url:targetUrl,
            cache: false,    //上传文件不需缓存
            processData: false, //需设置为false。因为data值是FormData对象，不需要对数据做处理
            contentType: false, //需设置为false。因为是FormData对象，且已经声明了属性enctype="multipart/form-data"
            data:formData,
            success:function(result){
                console.log("执行成功:" + result.data)
                var index = $('input[name=bannerItemIndex]').val()
                $('.banner-Item:eq(' + index + ')').find('.banner-item-image').attr('src',result.data)


            },
            error:function(result){
                console.log("执行失败")
            }
        })
    };

    $(document).on('click','.banner-item-image',function () {
        if ($(this).parent().find('input').attr('readonly') == 'readonly'){
            toastr.warning('请先启用修改模式后再更换图片','修改图片！')
            return
        }
        var index = $(this).parent().index();
        $('#imageFile').click()
        $('input[name=bannerItemIndex]').val(index)
        console.log($('input[name=bannerItemIndex]').val())

    });


    $(document).on('click','.btn-removeBanner',function () {
        $(this).parent().parent().remove()
        var bannerId = $(this).parent().parent().find('input[name=bannerId]').val()
        if (bannerId != -1){
            $.post({
                url: '/delBanner/' + bannerId,
                success: function (result) {
                    if (result.code == 200){
                        toastr.success('删除商品信息成功！','删除商品')
                    }
                }

            })
        }


    });


    $(document).on('click','.btn-saveBanner',function () {
        console.log($(this).parent().parent().find('input:eq(0)').attr('readonly'));
        if ($(this).parent().parent().find('input:eq(0)').attr('readonly') == 'readonly'){
            toastr.warning('请对Banner进行修改后再进行保存！','banner保存');
            return
        }
        var title = $(this).parent().parent().find('input:eq(0)').val()
        var adDesc = $(this).parent().parent().find('input:eq(1)').val()
        var adContent = $(this).parent().parent().find('img:eq(0)').attr('src')
        var adUrl = $(this).parent().parent().find('input:eq(2)').val()
        var bannerId = $(this).parent().parent().find('input[name=bannerId]').val()
        var adType = 'jpg'

        $.post({
            url: '/saveBanner',
            data: {id:bannerId,catalog1Id:0,adTitle:title,adDesc:adDesc,adContent:adContent,adUrl:adUrl,adType:adType},
            success: function (result) {
                if (result.code == 200){
                    toastr.success(result.message,'保存成功')
                }
            }

        })

        $(this).parent().parent().find('input').attr('readonly','readonly');
    });

    $(document).on('click','.btn-changeBanner',function () {
        $(this).parent().parent().find('input').removeAttr('readonly')
    });


    $('.btn-addBanner').click(function () {
        $('.banner-List').append('<div class="banner-Item col-lg-4 me-banner-card">\n' +
            '                        <img class="banner-item-image" src="https://iph.href.lu/1440x617?text=%E7%82%B9%E5%87%BB%E9%80%89%E6%8B%A9%E6%96%87%E4%BB%B6" width="100%" >\n' +
            '                        <input type="text" class="form-control" placeholder="图片标题">\n' +
            '                        <input type="text" class="form-control" placeholder="图片描述">\n' +
            '                        <input type="text" class="form-control" placeholder="链接地址">\n' +
            '                        <div class="container-fluid row ">\n' +
            '                             <button type="button" class="btn btn-success col-lg-3 btn-saveBanner" style="margin-left: 3px">保存</button>\n' +
            '                             <button type="button" class="btn btn-warning col-lg-3 btn-changeBanner" style="margin-left: 8px" >修改</button>\n' +
            '                             <button type="button" class="btn btn-danger col-lg-3 btn-removeBanner" style="margin-left: 8px" >删除</button>\n' +
            '                         </div>\n' +
            '                      </div>')
    })

</script>
</body>
</html>