<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(测试)">

</head>
<body>

    <section class="section" style="margin:0px;padding:0px;">

        <div class="row">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">商品信息管理</a></li>
                        <li class="breadcrumb-item active" aria-current="page">商品管理</li>
                    </ol>
                </nav>
            </div>
        </div>



        <div class="card card-primary catalogCard" >

            <div class="card-body">
                    <div class="row">
                        <div class="form-group col-4">
                            <label>一级分类</label>
                            <select class="form-control catalog1">
                                <option value="-1">请选择一级分类</option>
                                <option th:value="${catalog1.id}" th:text="${catalog1.name}" th:each="catalog1:${catalog1List}">女士精品</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label>二级分类</label>
                            <select class="form-control catalog2">
                                <option value="-1">请选择二级分类</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label>三级分类</label>
                            <select class="form-control catalog3">
                                <option value="-1">请选择三级分类</option>
                            </select>
                        </div>
                    </div>


                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">

                                    <div class="float-right">

                                            <div class="input-group">

                                                <input type="text" class="form-control" placeholder="搜索">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-secondary"><i class="ion ion-search"></i></button>
                                                </div>
                                            </div>

                                    </div>

                                    <h3>商品列表</h3>
                                    <div>
                                        <button class="btn btn-success addProc" >添加商品</button>
                                        <button class="btn btn-danger removeProc" >删除商品</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped allProc">
                                            <tr>
                                                <th class="text-center">
                                                    <div class="custom-checkbox custom-control">
                                                        <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                                                        <label for="checkbox-all" class="custom-control-label"></label>
                                                    </div>
                                                </th>
                                                <th>商品名称</th>
                                                <th>商品图片</th>
                                                <th>价格</th>
                                                <th>标签</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>


                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <nav class="d-inline-block">
                                        <ul class="pagination mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"><i class="ion ion-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="ion ion-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>



            </div>
        </div>

    </section>


    <!--  添加修改商品模态框  -->
    <div class="modal fade container-fluid" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" >
                <div class="modal-body">

                    <form class="form-horizontal" role="form" id="uploadImg" method="post" action="/uploadImg" enctype="multipart/form-data">
                        <input type="hidden" name="catalog3Id" value="-1">
                        <div class="form-group">
                            <label>商品名称：</label>
                            <input type="text" class="form-control" name="productName" placeholder="请输入商品名称">
                        </div>
                        <div class="form-group">
                            <label>商品价格：</label>
                            <input type="text" class="form-control" name="productPrice" placeholder="请输入商品价格">
                        </div>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>商品状态：</label>
                                    <select class="form-control" name="productStatus">
                                        <option>上架中</option>
                                        <option>断货中</option>
                                        <option>下架中</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>商品标签：</label>
                                    <select class="form-control" name="productTag">
                                        <option>正常</option>
                                        <option>新品</option>
                                        <option>热卖</option>
                                        <option>促销</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="card">
                                <div class="card-header">
                                    <button type="button" class="btn btn-success addAttrItem">添加销售属性</button>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <input type="hidden" name="attrMap" value="">
                                        <table class="table table-striped attrTable">
                                            <tr>
                                                <th>属性名称</th>
                                                <th>属性值</th>
                                                <th>操作</th>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label>商品描述：</label>
                            <textarea class="summernote-simple" name="description"></textarea>
                        </div>

                        <div class="form-group">
                            <label>图片上传：（只能上传jpg/png/gif文件，且不超过1MB）</label>

                            <div class="row" tyle="line-height: 50px">
                                <div class="col-lg-2 " style='display: inline'>


                                    <li style='display: inline'>
                                        <a href="#"><i>上传图片</i>
                                            <div style="filter:alpha(opacity=0);cursor: pointer; opacity: 0; position: absolute;  width: 75px;margin: -18px 0 0 -6px ;margin: -16px 0 0 -6px\9;height:20px\9;overflow: hidden; ">
                                                <input type="file" id="imageFile" onchange="uploadFile()" name="image" style="font-size: 200px;cursor: pointer;direction: rtl ！important; float: right\9; "/>
                                            </div>
                                        </a>
                                    </li>

                                </div>
                                <input type="hidden" name="defaultImgIndex" value="0">
                                <input type="hidden" id="imgListHide" name="imgList" value="">
                                <div class="col-lg-8  imgList row">

                                </div>
                                <div class="col-lg-2 " style="text-align: right">
                                    <button type="button" id="saveProc" class="btn btn-default">保存</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>






<footer class="main-footer" th:replace="_fragments :: footer">

</footer>

<div th:replace="_fragments :: scripts">
    <script src="/modules/jquery-3.2.1.js"></script>
    <script src="js/jQuery.form.js"></script>
</div>

<script>
    $('.addProc').click(function () {
        var catalog3 = $(".catalog3 option:selected").val()
        if (catalog3 != -1){
            $('#myModal').modal('show')
        }else{
            toastr.warning('未选择三级分类，请选择后再次新增商品','新增商品')
        }
    })

    $('.addAttrItem').click(function () {
        var attritem = '<tr >\n' +
            '                <td>\n' +
            '                    <select class="form-control">\n' +
            '                           <option value="1">尺码</option>\n' +
            '                           <option value="2">色号</option>\n' +
            '                    </select>\n' +
            '                 </td>\n' +
            '                 <td class="row">\n' +
            '                    <button type="button" class="btn btn-sm btn-primary addAttr">添加</button>\n' +
            '                 </td>\n' +
            '                 <td>\n' +
            '                     <button type="button" class="btn btn-action btn-danger btn-delAttrItem">删除</button>\n' +
            '                 </td>\n' +
            '             </tr>';
        $('.attrTable').append($(attritem))
    });
    // 新增属性值按钮
    $(document).on('click','.addAttr',function (){
        if (($(this).parent().find('input[type=text]').length == 0 && $(this).parent().find('span').length == 0) || $(this).parent().find('input[type=text]').length == 0){
            $(this).before('<input type="text" value="" class="form-control attrItem" style="width: 60px">');
        }else{
            toastr.error('请检查是否有未填写的属性值项！', '添加属性值!');
        }
    });

    // 属性失去焦点时触发
    $(document).on('blur','.attrItem',function (){
        var attrVal = $(this).val()

        if (attrVal != ""){
            console.log(attrVal)
            $(this).before('<span class="btn btn-info btn-sm .m-r-pd-sm attrVal">' + attrVal +'</span>')
            $(this).remove()
        }
    });

    $(document).on('click','.attrVal',function (){
        $(this).remove()
    });

    $(document).on('click','.btn-delAttrItem',function (){
        $(this).parent().parent().remove()
    });



    $('.upload').click(function () {
        $('input[name=upload]').click();
    });

    $('#saveProc').click(function () {
        console.log('提交表单信息')
        $('#uploadImg').attr('action','/saveProc')

        var imgList = $('.imgList').find('img')
        var imgListStr = '';
        for (var i =0;i<imgList.length;i++){
            console.log($('.imgList').find('img').eq(i).attr('src'))
            imgListStr = imgListStr + ',' + $('.imgList').find('img').eq(i).attr('src');
        }
        $('#imgListHide').val(imgListStr);

        console.log($('input[name=imgList]').val())

        // 拼装表格信息
        if ($('.attrTable').find('tr').length > 1){
            var map = {};
            $('.attrTable').find('tr').each(function () {
                var key = $(this).find('td:eq(0)').find('select').val();
                if (key == undefined){
                    console.log('此时是第一列')
                    return true;
                }
                console.log('key:' + key)
                var value = '';
                $(this).find('td:eq(1)').find('span').each(function () {
                    value = value + ',' + $(this).text()
                    console.log($(this).text());
                })
                console.log('value:' + value)
                map[key] = value;
            })
            var jsonMap = JSON.stringify(map)
            $('input[name=attrMap]').val(jsonMap)
            console.log(jsonMap);
        }




        $('#uploadImg').ajaxSubmit(function(result){
            if(result.code == 200){
                toastr.warning('插入成功，请检查数据项是否填写正确！','插入失败');
                window.location = "/productManage";
            }else{
                toastr.warning('插入失败，请检查数据项是否填写正确！','插入失败');

            }
        })

    });


    $(document).on('click','.rounded-circle',function () {
        var index = $(".imgList img").index(this);
        console.log(index)
        $('input[name=defaultImgIndex]').val(index)
        $(this).addClass('defultImg').parent('.uploadImg').siblings().children('.rounded-circle').removeClass('defultImg');

    });





    function uploadFile(){
        console.log('已选择文件');
        var targetUrl = $("#uploadImg").attr("action");
        var formData = new FormData($("#uploadImg")[0]);
        var fileSize = document.getElementById("imageFile").files[0].size;
        console.log(fileSize)
        if (fileSize > 1024 * 1024 ){
            toastr.warning('图片过大，请压缩后重新上传!','图片上传');
            return;
        }
        $.ajax({
            type:'post',
            url:targetUrl,
            cache: false,    //上传文件不需缓存
            processData: false, //需设置为false。因为data值是FormData对象，不需要对数据做处理
            contentType: false, //需设置为false。因为是FormData对象，且已经声明了属性enctype="multipart/form-data"
            data:formData,
            success:function(result){
                console.log("执行成功:" + result.data)
                var imgItem = ' <div class="uploadImg">\n' +
                    '<img src="' + result.data + '" class="rounded-circle " width="70px" height="70px">\n' +
                    '<i class="icon ion-close-round delIcon"></i>\n' +
                    '</div>'
                $('.imgList').append($(imgItem));

                $('.delIcon').click(function () {
                    console.log('点击了删除按钮');
                    $(this).parent().hide();
                    $(this).parent().remove();
                });



            },
            error:function(result){
                console.log("执行失败")
            }
        })
    };


    $('.catalog1').change(function () {
        var catalog1 = $(".catalog1 option:selected").val()
        if (catalog1 != -1){
            console.log('catalog1Id:' + catalog1)

            $.post({
                url:"/getcatalog2/" + catalog1,
                success:function (result) {
                    console.log('返回状态码：' + result.code);
                    $(".catalog2 option:gt(0)").remove()
                    if (result.code == 200){

                        for (var catalog = 0;catalog<result.data.length;catalog++){
                            $('.catalog2').html($('.catalog2').html() + '<option value="' + result.data[catalog].id +'">' + result.data[catalog].name + '</option>')
                        }
                    }
                }
            })
        }
    });

    $('.catalog2').change(function () {
        var catalog2 = $(".catalog2 option:selected").val()
        if (catalog2 != -1){
            console.log('catalog2Id:' + catalog2)

            $.post({
                url:"/getcatalog3/" + catalog2,
                success:function (result) {
                    console.log('返回状态码：' + result.code);
                    $(".catalog3 option:gt(0)").remove()
                    if (result.code == 200){

                        for (var catalog = 0;catalog<result.data.length;catalog++){
                            $('.catalog3').html($('.catalog3').html() + '<option value="' + result.data[catalog].id +'">' + result.data[catalog].name + '</option>')
                        }
                    }
                }
            })
        }
    });

    $('.catalog3').change(function () {
        $('.allProc tr:gt(0)').remove()
        var catalog3 = $(".catalog3 option:selected").val()
        if (catalog3 != -1){
            console.log('catalog3Id:' + catalog3);
            $('input[name=catalog3Id]').val(catalog3)
            // 查找填充数据到数据库
            $.post({
                url:"/getAllProcByCatalog3/" + catalog3,
                success:function (result) {
                    console.log('返回状态码：' + result.code);
                    for (let i = 0; i < result.data.length; i++) {
                        var imgStr = '';
                        for (let j = 0; j < result.data[i].spuImageList.length; j++) {
                            imgStr = imgStr + '<img alt="image" src="'+ result.data[i].spuImageList[j].imgUrl +'" class="rounded-circle" width="35" height="35px" >'
                        }
                        $('.allProc').append(
                            '<tr >\n' +
                            '   <td width="40">\n' +
                            '       <div class="custom-checkbox custom-control">\n' +
                            '            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">\n' +
                            '            <label for="checkbox-1" class="custom-control-label"></label>\n' +
                            '       </div>\n' +
                            '   </td>\n' +
                            '   <td>'+ result.data[i].productName + '</td>\n' +
                            '   <td>\n' +

                            imgStr +

                            '   </td>\n' +
                            '   <td class="align-middle">\n' +
                                    result.data[i].productPrice +
                            '   </td>\n'+
                            '   <td class="align-middle">\n' +
                                       '#' + result.data[i].productTag +
                            '   </td>\n' +
                            '   <td class="align-middle">\n' +
                            '       <div class="badge badge-success" >'+ result.data[i].productStatus +'</div>\n' +
                            '   </td>\n' +
                            '   <td >\n' +
                            '       <button class="btn btn-action btn-success" onclick="descProcItem(' + result.data[i].id +')" >详情</button>\n' +
                            '       <button class="btn btn-action btn-warning" onclick="changeProcItem(' + result.data[i].id +')" >修改</button>\n' +
                            '       <button class="btn btn-action btn-danger"  onclick="removeProcItem(' + result.data[i].id +')" >删除</button>\n' +
                            '   </td>\n' +
                            '</tr>'
                        )

                    }
                }
            })
        }
    });
    
    function removeProcItem(procId) {
        //console.log(procId)
        if (confirm("确认删除吗？")){
            $.post({
                url: "/deleteProc/" + procId,
                success: function (result) {
                    if (result.code == 200){
                        toastr.success("删除成功！","删除商品");
                    }else{
                        toastr.error("删除失败，发生了不可描述的错误！","删除商品");
                    }
                }
            })
        }
    };

    function descProcItem(procId) {
        //console.log(procId)
            $.post({
                url: "/getProcById/" + procId,
                success: function (result) {


                }
            })

    };

    function changeProcItem(procId) {
        //console.log(procId)
            $.post({
                url: "/getProcById/" + procId,
                success: function (result) {


                }
            })

    };

</script>
</body>
</html>